.username {
    position: fixed;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    margin-top: -145px;
    margin-left: -178px;

}
.password {
    position: fixed;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    margin-top: -110px;
    margin-left: -176px;
}
.email {
    position: fixed;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    margin-top: -75px;
    margin-left: -178px;
}
.registerbutton {
    position: fixed;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
    margin-left: 257px;
}
.loginbutton {
    position: fixed;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-left: 257px;
}
.loginrender {
    position: fixed;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -35px;
}
.registerrender {
    position: fixed;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: -35px;
}
.button {
    position:fixed;
    background-color:#008CBA;
    color:gainsboro;
    text-align:center;
    border-radius:4px;
    border:none;
    width:200px;
    margin-left:-47px;

}
.tbox {
    border-radius:4px;
    border-width:1px;
    outline:none;
    width:200px;

}


