.button {
    position:fixed;
    
}

.buttons
{
   display: inline-block;
   background-color:#CD4A49;
   width: 100%;       /* set to 100% */
   height: 100%;      /* set to 100% */
   margin-bottom: 0.5em;
   padding-top: .6em;
   padding-bottom: .6em;
   color: #fff;
   clear:right;
}

.buttonComplete
{
   display: inline-block;
   background-color:#74e7fc;
   width: 100%;       /* set to 100% */
   height: 100%;      /* set to 100% */
   margin-bottom: 0.5em;
   padding-top: .6em;
   padding-bottom: .6em;
   color: #fff;
   clear:right;
}

.buttonEdit
{
   display: inline-block;
   background-color:#fda761;
   width: 100%;       /* set to 100% */
   height: 100%;      /* set to 100% */
   margin-bottom: 0.5em;
   padding-top: .6em;
   padding-bottom: .6em;
   color: #fff;
   clear:right;
}

.addButton {
   
    display: inline-block;
    background-color:#1bdb15;
    width: 100%;       /* set to 100% */
    height: 100%;      /* set to 100% */
    margin-bottom: 0.5em;
    padding-top: .6em;
    padding-bottom: .6em;
    color: rgb(255, 255, 255);
    clear:right;
}
.weeklyButton {

    display: inline-block;
    background-color:#a4b6a4;
    width: 32%;       /* set to 100% */
    height: 33%;      /* set to 100% */
    margin-right: 0.5em;
    padding-top: .6em;
    padding-bottom: .6em;
    color: rgb(255, 255, 255);
    clear:right;
}

.monthlyButton {

    display: inline-block;
    background-color:#a4b6a4;
    width: 33%;       /* set to 100% */
    height: 33%;      /* set to 100% */
    margin-bottom: 0.5em;
    padding-top: .6em;
    padding-bottom: .6em;
    color: rgb(255, 255, 255);
    clear:right;
}

.dailyButton {

    display: inline-block;
    background-color:#a4b6a4;
    width: 33%;       /* set to 100% */
    height: 33%;      /* set to 100% */
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    padding-top: .6em;
    padding-bottom: .6em;
    color: rgb(255, 255, 255);
    clear:right;
}